@page
@model کارگزاری_املاک.Pages.Admin.Estates.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row mt-5">
    <div class="col-lg-3 col-md-3 col-12">
        <div class="text-right">
            <div class="list-group p-0 mb-5">
                <a href="#" class="active list-group-item list-group-item-action">
                    ایجاد ملک
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center font-weight-bold m-auto"> مدیریت املاک </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <label class="my-2 h6"> عنوان </label>
                            <input type="text" class="form-control">
                            <label class="my-2 h6"> متراژ </label>
                            <input type="text" class="form-control">
                            <label class="my-2 h6"> آدرس </label>
                            <input type="text" class="form-control">
                            <label class="my-2 h6"> توضیحات </label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <label class="my-2 h6"> نوع </label>
                            <input type="text" class="form-control">
                            <label class="my-2 h6"> مبلغ </label>
                            <input type="text" class="form-control">
                            <label class="my-2 h6"> عکس </label>
                           @*  <div class="custom-file my-1">
                                <h6 class="custom-file-label text-center"> عکس محصول </h6>
                                <input asp-for="ViewModel.ImgUp" id="ImgUp" class="custom-file-input" type="file">
                            </div> *@
                            <img src="" width="150px" height="150px" class="d-block mx-auto">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <button type="submit" class="btn btn-success btn-block"> تایید </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <a href="index.html" class="btn btn-secondary btn-block"> بازگشت </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
