@page
@model کارگزاری_املاک.Pages.Admin.Categoreis.CreateModel
@{
}
<div class="row mt-5">
    <div class="col-lg-3 col-md-3 col-12">
        <div class="text-right">
            <div class="list-group p-0 mb-5">
                <a href="#" class="active list-group-item list-group-item-action">
                    مدیریت املاک
                </a>
                <div class="list-group p-0 mb-5">
                    <a href="/Panel/Admin/Categories" class=" list-group-item list-group-item-action">
                        مدیریت دسته بندی ها
                    </a>
                    <a href="/Panel/Favourites" class=" list-group-item list-group-item-action">
                        مدیریت علاقه مندی ها
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-12">
        <div class="card pb-4 text-center p-2">
            <form method="post">
                <div asp-validation-summary="All" ></div>
                <div class="card-header">
                    <h4 class="h4 text-center"> ایجاد دسته بندی </h4>
                </div>
                <div class="row p-3">
                    <h6 class="text-right my-3"> نام دسته بندی </h6>
                    <input asp-for="Model.Title" placeholder="نام دسته بندی را وارد کنید . . . " class="form-control mt-2">
                    <h6 class="text-right my-3"> توضیحات </h6>
                    <textarea asp-for="Model.Description" id="discription" cols="15" rows="5" placeholder="توضیحات دسته بندی را وارد کنید" class="form-control"></textarea>


                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <button type="submit" class="btn btn-success btn-block text-white mx-2">تایید</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <a class="btn btn-secondary btn-block">بازگشت</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
